<h1 id='about'>About Women Who Calagator San Francisco</h1>

<p class="replace-this-text">
  Describe your project in: <code>themes/YOUR_THEME/views/site/about.html.erb</code>
<br/>
  This is the wrong location! what is this themes business?
</p>
